<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- Fichiers de config des proprietes pour le Développeur -->
    <bean id="propertyConfigurer" class="ch.vd.registre.base.properties.PropFilesCheckerPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="ignoreUnresolvablePlaceholders" value="false"/>
        <property name="locations">
            <list>
                <value>file:tests.properties</value>
                <value>file:tests-dev.properties</value>

                <value>file:../tests.properties</value>
                <value>file:../tests-dev.properties</value>

                <value>file:../../tests.properties</value>
                <value>file:../../tests-dev.properties</value>
            </list>
        </property>
    </bean>

</beans>
